<div class="about">
  <div class="ro">
    <div class="ro-item text">
      <span class="text">Amber has been singing for as long as she can remember. She has always had a love for musical theater but was frustrated that she could never land a lead role. At age 14, in an attempt to remedy this, she began taking lessons from a teacher who changed her musical life. Within weeks she discovered a strength in her voice she never knew she had, and in nine months landed her first leading role as Asaka in “Once on this Island.” As she continued progressing in her vocal abilities, she discovered a passion for teaching and a desire to share with others what the joy she had formed in her discovery of her own voice. Amber continues to work on her vocal and musical skills as she teaches. Amber has an amazing husband, twin girls, and a boy. When she isn’t teaching and singing she enjoys cooking, playing the piano, and hanging with her family.</span>
    </div>
    <div class="ro-item">
      <img src="assets/img/profile.jpg" alt="profile picture of amber">
    </div>
  </div>
  <div class="ro ro2">
    <div class="ro-item">
      <img src="assets/img/presence2.jpg" alt="amber as Mary Poppins">
    </div>
    <div class="ro-item">
      <span class="text">

      
      <h4>Theater Experience</h4>
      <ul>
        <li>Mary Poppins — Hopebox Theater<br>

          Mary Poppins</li>

        <li>Into The Woods — Hopebox Theater<br>

          The Witch</li>

        <li>The Sound Of Music — Draper Arts Council<br>

          Elsa Straeder</li>

        <li>A Doll's House — Creekside Theater Fest<br>

          Christine Linde</li>
          
        <li>Big Fish — Empress Theater<br>

            Sandra Bloom</li>

        <li>Company — Midvale Main Street Theater<br>

            Susan</li>

        <li>Joseph and the Amazing Technicolor Dreamcoat — Draper Historic Theater<br>

            Narrator</li>

        <li>A Christmas carol — Hale Center Theater Orem<br>

          Role: Alto 2</li>

        <li>Mary Poppins — Alpine Community theater<br>

          Role: Mrs. Corey and Ensemble</li>

        <li>All Shook Up — Centerpoint Theater<br>

          Role: Mayor Matilda</li>

        <li>Joseph and the Amazing Technicolor Dream Coat — Lehi arts council<br>

          Role: Narrator</li>

        <li>Once on this island — Draper Arts Council<br>

          Role: Asaka</li>

        <li>Once upon a Mattress — Lehi arts council<br>

          Role: Nightingale and Ensemble</li>

      </ul>



      <h3>Performing experience</h3>
      <ul>
        <li>BYU Jazz Voices — Brigham Young University<br>

          Part: Alto and Soprano</li>

        <li>Women’s Chorus — Brigham Young University<br>

          Part: Alto 2</li>

        <li>BYU Jazz Voices — Brigham Young University<br>

          Part: Alto and Soprano</li>

      </ul>
    </span> 
    </div>
    
  </div>
</div>