<div class="contact">
  <availability></availability>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScSTCIUO8dDkzBtkWS3X9mvi533gCZY0rJMfjIJ9TMyYVN2Cg/viewform?embedded=true" width="640" height="1712" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  <div class="disclaimer"><span>The data you submit is only used for the purposes of gauging new students and making contact. This data is not sold by me and resides in a Google Spreadsheet temporarily. No additional security beyond the default security of Google Forms is provided.</span></div>
</div>
