.contact>* {
  display: block;
  margin: 0em 4em;
}

.contact {
  .message {
    background: #E3F0F6;
    border: 2px solid #0076C0;
    padding: 1em;
    margin-bottom: 2em;
    text-align: center;
  }

  iframe {
    margin: auto;
    width: 100%;
    margin-bottom: 1em;
  }
  .tl {
    text-decoration: underline #007bff;
    color: #007bff;
  }
}