<div class="contact">
  <br>
  <div class="message"><span>Please fill out the Google Forums New Student Survey with your contact information and I will reach out to you.</span>
  </div>
  <div class="message"><span>You can also message me on my <a href="https://www.facebook.com/VoiceLessonsWithAmber/" target="_blank">Facebook page</a>.</span></div>
  
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfYWaN876UZvwzQ1_vv6HWAvGvLV1l1ipho0Ggf7XX8OVlktA/viewform?embedded=true" width="640" height="1712" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  <div class="message"><span>The data you submit is only used for the purposes of gauging new students and making contact. This data is not sold by me and resides in a Google Spreadsheet temporarily. No additional security beyond the default security of Google Forms is provided.</span></div>
</div>
