<div class="navigation container-fluid">
  <div class="row">
    <div class="logo-container col">
      <h1 class="logo">Amber's Voice Lessons</h1>
    </div>
    <nav class="col">
      <ul class="nav nav-fill">
        <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/price" routerLinkActive="active">Prices</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>
  </div>

</div>
