<div class="app">
  <header>
    <navv></navv>
  </header>
  <router-outlet></router-outlet>
  <footer>
    <span class="social-media">
      <a href="https://www.facebook.com/VoiceLessonsWithAmber/" target="_blank">
        <img src="assets/img/facebook1.png" alt="facebook logo"></a>
      <a href="https://www.youtube.com/watch?v=dT119DNE1To&list=PLDRCjV00MyCNZmDWqQ0q1P3kfCmFki8Gw" target="_blank">
        <img src="assets/img/youtube-icon.png" alt="youtube logo">
      </a>
    </span>
    <span class="page-name">AmbersVoiceLessons.com</span>
  </footer>
</div>