<div class="home container-fluid">
  <div class="row splash">
    <img src="assets/img/colors-concert-entertainment-1047932.jpg" alt="woman singing in spotlight">
  </div>

  <div class="splash-space-holder"></div>

  <div class="row tagline">
    Become the singer you have always wanted to be!
  </div>

  <div class="intro row">
    <p>Are you looking to improve your vocal range? Are you trying out for a musical? Do you want to improve your performance in a band or sound better in your church choir? Whatever your singing goals are, I can help you reach them.</p>
    <p>Welcome to Amber's Voice Lessons! With my instruction you will learn to sing by coming to understand your voice through personalized exercises, performance techniques, and songs you love that showcase your unique sound.</p>
    <p>I am passionate about helping you reach your vocal goals. I have taught voice lessons for six years. In that time I have helped students get into choirs and lead roles in plays as well as gain the confidence to simply sing in karaoke bars with their friends. I am also a performer myself, focusing primarily on musical theater. I also have experience performing in Jazz Choirs, bluegrass and rock bands. I love just about every genre of music and I enjoy teaching you to sing in the style of your choice.</p>
  </div>

  <div class="location">
    <h1>Amber's Voice Lessons are in Eagle Mountain, Utah</h1>
  </div>


  <div class="services row ro1">
    <div class="service">
      <div><img src="assets/img/mic.jpg" alt="microphone"></div>
      <div class="description"><span>Biannual Recitals</span></div>
    </div>
    <div class="service">
      <div><img src="assets/img/black-and-white-blur-book-164821.jpg" alt="sheet music"></div>
      <div class="description"><span>Fundamentals and Exercises</span></div>
    </div>

    <div class="service">
      <div><img src="assets/img/ambers-band.jpg" alt="band on stage"></div>
      <div class="description"><span>Stage Presence and Tips</span></div>
    </div>
    <div class="service">
      <div><img src="assets/img/ifeelfine.jpg" alt="Amber on stage"></div>
      <div class="description"><span>Audition Coaching</span></div>
    </div>
  </div>

  <div class="action">
    <a><button routerLink="/contact">Sign up now!</button></a>
  </div>
</div>
